body {
  margin: 0 auto;
  font-family: sans-serif;
  text-align: center;
  /*overflow: visible;*/
  /*background: linear-gradient(#e66465, #9198e5);*/
  /*background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),*/
              /*linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),*/
              /*linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);*/
}


/*h1 {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}*/

h1 {
  text-align: center;
  margin: 50px auto;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 1;
  color: transparent;
  overflow: hidden;
  background: linear-gradient(45deg, black 30%, transparent 30%, transparent 70%, black 70%), linear-gradient(-45deg, black 30%, transparent 30%, transparent 70%, black 70%), linear-gradient(90deg, crimson 30%, transparent 30%, transparent 70%, crimson 70%)red;
  background-size: 10px 10px, 10px 10px, 1px 1px;
  background-position: 0 0, 0 0, 0 0;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px white;
  filter: drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 1px crimson);
  animation: bg-shift 1s ease-in-out infinite alternate-reverse, swing 2s ease-in-out infinite;
}

h1::before {
  /*content: "ohoh";*/
  /*position: absolute;
  background: linear-gradient(transparent 30%, white, transparent 70%);
  -webkit-background-clip: text;
  animation: bg-shift2 2s ease-in-out infinite alternate-reverse;
  -webkit-text-stroke: 2px red;*/
}

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

hr {
  border: 1px dotted #ddd;
}

.container {
  margin: 0 auto;
  max-width: 720px;
  background: #fff, transparent;
  padding: 24px;
}

.content.hidden {
  display: none;
  transition-duration: 3s;
}


.header {
  position:relative;
  text-align:center;
  background: linear-gradient(90deg, #00B7FF, #FFFFC7 100%);
            /*linear-gradient(60deg, rgba(44,58,183,1) 0%, rgba(0,172,175,1) 100%);*/
            /*linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 30.71%),*/
            /*linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 30.71%),*/
            /*linear-gradient(36deg, rgba(0,0,255,.8), rgba(0,0,255,0) 10.71%)*/

  color:white;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
  /*opacity: .8;*/
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@keyframes bg-shift {
  from {
    background-position: 0 50px;
  }
}

@keyframes bg-shift2 {
  0% {
    background-position: 0 50px;
  }

  50% {

    background-position: 0 -50px;

  }

  100% {
    background-position: 0 50px;
  }
}

@keyframes swing {
  0% {
    transform-origin: top;
    transform: perspective(550px)rotatex(55deg);
  }

  50% {
    transform: perspective(550px)rotatex(-55deg);
  }

  100% {
    transform-origin: top;
    transform: perspective(550px)rotatex(55deg);

  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
